build/
.DS_Store

reportlatex.aux
reportlatex.fdb_latexmk
reportlatex.fls
reportlatex.log
reportlatex.synctex.gz

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps